<% title "Reset Password" %>

<div class="password_resets-edit-page"> <!-- Reset Password Link From Email -->

<header class="password_resets-edit-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_for @user, url: password_reset_path(params[:id]),
			html: { class: "password_resets-edit-form" } do |f| %>

	<%= error_messages_for(@user) %>

	<ul class="form-section">
		<li class="password">
			<%= f.label :password %>
			<%= f.password_field :password, placeholder: "Password" %>
		</li>

		<li class="password_confirmation">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, 
						placeholder: "Password Confirmation" %>
		</li>

		<li class="nav">
			<%= f.submit "Update Password", class: "button" %>
		</li>
	</ul>
<% end %>
