<% title "Reset Password" %>

<div class="password_resets-new-page"> <!-- Reset Password from Login -->

<header class="password_resets-new-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_tag password_resets_path, method: :post, 
			class: "password_resets-new-form" do |f| %>

	<ul class="form-section">
		<li class="email">
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email],
					placeholder: "Enter your email to reset password".upcase %>
		</li>

		<li class="nav">
			<%= button_tag "Reset Password", class: "button" %>
		</li>
	</ul>

<% end %>
