	
<%= f.hidden_field :votes, value: ( action_new_create? ? 0 : @idea.votes ) %>

<!-- ************** IDEA-NEW PITCH SECTION **************** -->

	<div class="page pitch">
		
		<header>
			<% if action_new_create? %>
				Give a brief overview of your idea
			<% else %>
				Pitch
			<% end %>
		</header>

		<ul class="form-section">
			<li class="title">
				<%= f.label :title, "Give your idea a title" %>
				<%= f.text_field :title, 
							placeholder: "In 2-3 Words, Describe Your Idea".upcase %>
			</li>

			<li class="pitch">
				<%= f.label :pitch, "What's your elevator pitch?" %>
				<%= f.text_area :pitch,
				placeholder: 
				"If you had 30 seconds to describe your idea, what yould you say?".upcase %>
			</li>

			<li class="board">
				<%= f.label :board, "Which board are you adding your idea to?" %>

				<% if @last_board %>
					<%= f.select :board_id, 
							@boards.map { |board| [board.name, board.id] }, 
								{ selected: @last_board.id } %>
				<% else %>
					<%= f.select :board_id, 
							@boards.map { |board| [board.name, board.id] } %>
				<% end %>
			</li>

			<% if action_new_create? %>
			<li class="nav">
				<%= link_to "Next: Describe Your Idea", "#", 
						class: "next-button right button" %>
			</li>
			<% end %>
		</ul>

		<div class="sidebar">
			<h3>Tips:</h3>
			<ul>
				<li>Make it captivating.</li>
				<li>Use correct grammar and spelling.</li>
			</ul>
		</div>

	</div>

<!-- ************** END IDEA-NEW PITCH SECTION **************** -->

<!-- ************** IDEA-NEW DESCRIPTION SECTION **************** -->

	<div class="page description">
		
		<header>
			<% if action_new_create? %>
				How does your idea work and what makes it special?
			<% else %>
				Describe Idea
			<% end %>
		</header>

		<ul class="form-section">
			<li class="workspace">
				<%= f.label :workspace, "Workspace"%>
				<%= f.text_area :content, placeholder: "Describe your Idea".upcase, 
							class: 'ckeditor' %>
			</li>

			<% if action_new_create? %>
			<li class="nav">
				<%= link_to "Back", "#", class: "prev-button button" %>
				<%= link_to "Next: Add Media", "#", class: "next-button right button" %>
			</li>
			<% end %>
		</ul>

		<div class="sidebar">
			<h3>Tips:</h3>
			<ul>
				<li>Your idea workspace is a blank canvas for you to be as creative as 
				you want to showcase your idea.</li>
				<li>Tell a story, include images, and show 
				iterations of how your project evolved from the beginning.</li>
				<li>Help the reader visualize the idea.</li>
				<li>Use the Templates button for fast & easy input.</li>
				<li>Use correct grammar and spelling.</li>
			</ul>
		</div>

	</div>

<!-- ************** END IDEA-NEW DESCRIPTION SECTION **************** -->

<!-- ************** IDEA-NEW MEDIA SECTION **************** -->

	<div class="page media">
		
		<header>
			<% if action_new_create? %>
				Help the community visualize your idea
			<% else %>
				Add Media
			<% end %>
		</header>

		<ul class="form-section">
			<li class="photo">
				<%= f.label :cover_photo, "Upload a Photo" %>
				<%= f.file_field :image %>

				<p class="notice">Choose a photo that represents your Idea. 
					Max image size: 2MB (.jpg, .jpeg, .png, .gif)</p>

				<%= f.label "Or URL" %>
				<%= f.url_field :remote_image_url, 
							placeholder: "Upload from the Internet".upcase %>

				<br>
				<%= image_tag(@idea.image.small_thumb.url) if @idea.image? %>

				<%= f.hidden_field :source, value: @idea.source if @idea.source.present? %>
				<%= f.hidden_field :image_cache %>
			</li>

			<li class="video">
				<%= f.label :video_url, "Video URL" %>
				<%= f.url_field :video_url, placeholder: "Youtube or Vimeo Only".upcase %>
			</li>

			<% if action_new_create? %>
			<li class="nav">
				<%= link_to "Back", "#", class: "prev-button button" %>
				<%= submit_tag "Finish: Add Your Idea", class: "right button" %>
			</li>
			<% end %>
		</ul>

		<div class="sidebar">
			<h3>Tips:</h3>
			<ul>
				<li>High quality images lead to more views and therefore more community 
						feedback.</li>
				<li>Use only your own images, stock images, or images with a Creative
						Commons license for free distribution.</li>
			</ul>
		</div>

	</div>

<!-- ************** END IDEA-NEW MEDIA SECTION **************** -->

<% if action_edit_update? %>

<!-- ************** IDEA-NEW-EDIT EXTRAS SECTION **************** -->

	<div class="page extras">
		
		<header>
			Extra Information
		</header>

		<ul class="form-section">

			<li class="commitment">
				<%= f.label :commitment %>
				<%= f.select :commitment, options_for_select([
					["Contribute Initial Idea Only", "Contribute Initial Idea Only"],
					["Brainstorm on Idea", "Brainstorm on Idea"],
					["Brainstorm Ideas and Be Advisor", "Brainstorm Ideas and Be Advisor"],
					["Founder/Co-Founder of New Company", "Founder/Co-Founder of New Company"]]) %>
			</li>

			<li class="looking-for">
				<%= f.label :looking_for, "Looking For" %>
				<input type="checkbox" name="idea[looking_for][]"
						value="Entrepreneur"
						<%= resource_checked?(f.object.looking_for, "Entrepreneur") %>>
				<%= label_tag :entrepreneur, nil, class: "checkbox-label" %>
				<br>
				<input type="checkbox" name="idea[looking_for][]"
						value="Partners/Co-Founders" 
						<%= resource_checked?(f.object.looking_for, "Partners/Co-Founders") %>>
				<%= label_tag "partners-cofounders", "Partners/Co-Founders", 
							class: "checkbox-label" %>
				<br>
				<input type="checkbox" name="idea[looking_for][]"
						value="Early-Stage Employees"
						<%= resource_checked?(f.object.looking_for, "Early-Stage Employees") %>>
				<%= label_tag "earlystage-employees", "Early-Stage Employees", 
							class: "checkbox-label" %>
				<br>
				<input type="checkbox" name="idea[looking_for][]"
						value="Funding"
						<%= resource_checked?(f.object.looking_for, "Funding") %>>
				<%= label_tag :funding, nil, class: "checkbox-label" %>
			</li>

			<br>

			<li class="market">
				<%= f.label :market, "Market" %>
				<%= f.text_field :market, 
							placeholder: "World Wide, North America, New York, etc." %>
			</li>

			<li class="nav">
				<%= link_to "Cancel", @return_to || idea_path(@idea), 
							class: "prev-button" %>
				<%= f.submit class: "right" %>
			</li>
		</ul>

		<div class="sidebar">
			<h3>Tips:</h3>
			<ul>
				<li>Add more info to improve reception of your idea.</li>
				<li>For example: what market are you targeting?</li>
			</ul>
		</div>
	</div>

<!-- ************** END IDEA-NEW-EDIT EXTRAS SECTION **************** -->

<% end %>

<!-- <div class="row">
	<div class="large-3 columns">
		<%= f.label :title, "Title*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :title, placeholder: "Title" %>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :cover_photo, "Cover Photo", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<%= image_tag(@idea.image.small_thumb.url) if @idea.image? %>
			<%= f.file_field :image %>
			<br><br>
			<div class="large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-10 columns">
				<%= f.url_field :remote_image_url, placeholder: "Or Image URL" %>
			</div>
			<p style="font-size: .8em;">Choose a photo that represents your Idea. Max image size: 2MB (.jpg, .jpeg, .png, .gif)</h6>
		</div>
	</div>
</div>

<%= f.hidden_field :image_cache %>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :video_url, "Video URL", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<div class="large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-10 columns">
				<%= f.url_field :video_url, placeholder: "Video URL (Youtube or Vimeo)" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :workspace, "Workspace*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_area :content, class: 'ckeditor', placeholder: "Content", style: "min-height: 500px" %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :board, "Board*", class: "left inline" %>
	</div>
	<div class="large-5 columns">
		<% if @last_board %>
			<%= f.select :board_id, 
					@boards.map { |board| [board.name, board.id] }, { selected: @last_board.id} %>
		<% else %>
			<%= f.select :board_id, 
					@boards.map { |board| [board.name, board.id] } %>
		<% end %>
	</div>
	<div class="large-4 columns">
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :commitment, "Commitment*", class: "left inline" %>
	</div>
	<div class="large-5 columns">
		<%= f.select :commitment, options_for_select([
					["Contribute Initial Idea Only", "Contribute Initial Idea Only"],
					["Brainstorm on Idea", "Brainstorm on Idea"],
					["Brainstorm Ideas and Be Advisor", "Brainstorm Ideas and Be Advisor"],
					["Founder/Co-Founder of New Company", "Founder/Co-Founder of New Company"]]) %>
	</div>
	<div class="large-4 columns">
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :looking_for, "Looking For", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<input type="checkbox" name="idea[looking_for][]"
				value="Entrepreneur"
				<%= resource_checked?(f.object.looking_for, "Entrepreneur") %>>
		<%= label_tag :entrepreneur %>
		<br>
		<input type="checkbox" name="idea[looking_for][]"
				value="Partners/Co-Founders" 
				<%= resource_checked?(f.object.looking_for, "Partners/Co-Founders") %>>
		<%= label_tag "partners-cofounders", "Partners/Co-Founders" %>
		<br>
		<input type="checkbox" name="idea[looking_for][]"
				value="Early-Stage Employees"
				<%= resource_checked?(f.object.looking_for, "Early-Stage Employees") %>>
		<%= label_tag "earlystage-employees", "Early-Stage Employees" %>
		<br>
		<input type="checkbox" name="idea[looking_for][]"
				value="Funding"
				<%= resource_checked?(f.object.looking_for, "Funding") %>>
		<%= label_tag :funding %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :market, "Market", class: "left inline" %>
	</div>
	<div class="large-5 columns">
		<%= f.text_field :market, placeholder: "World Wide, North America, New York, etc." %>
	</div>
	<div class="large-4 columns">
		<p style="font-size: .8em;">Where are your Customers?</p>
	</div>
</div>

<% if params[:action] == 'new' || params[:action] == 'create' %>
	<%= hidden_field_tag "idea[votes]", 0 %>
<% else #edit or update action %>
	<%= hidden_field_tag "idea[votes]", @idea.votes %>
<% end %>

<br>

<div class="row">
	<div class="large-5 large-centered columns">
		<%= f.submit class: "button" %>
		<% if params[:action] == 'new' || params[:action] == 'create' %>
			<%= link_to "Cancel", @return_to || boards_user_path(current_user), class: "button" %>
		<% else %>
			<%= link_to "Cancel", @return_to || idea_path(@idea), class: "button" %>
		<% end %>
	</div>
</div>
 -->