<div class="row">
	<div class="large-3 columns">
		<%= f.label :title, "Title*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :title, placeholder: "Title" %>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :cover_photo, "Cover Photo", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<%= image_tag(@idea.image.small_thumb.url) if @idea.image? %>
			<%= f.file_field :image %>
			<br><br>
			<div class="large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-10 columns">
				<%= f.url_field :remote_image_url, placeholder: "Or Image URL" %>
			</div>
			<p style="font-size: .8em;">Choose a photo that represents your Idea. Max image size: 2MB (.jpg, .jpeg, .png, .gif)</h6>
		</div>
	</div>
</div>

<%= f.hidden_field :image_cache %>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :video_url, "Video URL", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<div class="large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-10 columns">
				<%= f.url_field :video_url, placeholder: "Video URL (Youtube or Vimeo)" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :workspace, "Workspace*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_area :content, class: 'ckeditor', placeholder: "Content", style: "min-height: 500px" %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :board, "Board*", class: "left inline" %>
	</div>
	<div class="large-5 columns">
		<% if @last_board %>
			<%= f.select :board_id, 
					@boards.map { |board| [board.name, board.id] }, { selected: @last_board.id} %>
		<% else %>
			<%= f.select :board_id, 
					@boards.map { |board| [board.name, board.id] } %>
		<% end %>
	</div>
	<div class="large-4 columns">
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :commitment, "Commitment*", class: "left inline" %>
	</div>
	<div class="large-5 columns">
		<%= f.select :commitment, options_for_select([
					["Contribute Initial Idea Only", "Contribute Initial Idea Only"],
					["Brainstorm on Idea", "Brainstorm on Idea"],
					["Brainstorm Ideas and Be Advisor", "Brainstorm Ideas and Be Advisor"],
					["Founder/Co-Founder of New Company", "Founder/Co-Founder of New Company"]]) %>
	</div>
	<div class="large-4 columns">
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :looking_for, "Looking For", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<label>
			<input type="checkbox" name="idea[looking_for][]" style="display: none;" 
				value="Entrepreneur" 
				<%= resource_checked?(f.object.looking_for, "Entrepreneur") %>>
			<span class="custom checkbox"></span> Entrepreneur
		</label>
		<label>
			<input type="checkbox" name="idea[looking_for][]" style="display: none;" 
				value="Partners/Co-Founders" 
				<%= resource_checked?(f.object.looking_for, "Partners/Co-Founders") %>>
			<span class="custom checkbox"></span> Partners/Co-Founders
		</label>
		<label>
			<input type="checkbox" name="idea[looking_for][]" style="display: none;" 
				value="Early-Stage Employees"
				<%= resource_checked?(f.object.looking_for, "Early-Stage Employees") %>>
			<span class="custom checkbox"></span> Early-Stage Employees
		</label>
		<label>
			<input type="checkbox" name="idea[looking_for][]" style="display: none;" 
				value="Funding"
				<%= resource_checked?(f.object.looking_for, "Funding") %>>
			<span class="custom checkbox"></span> Funding
		</label>
	</div>
</div>

<br>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :market, "Market", class: "left inline" %>
	</div>
	<div class="large-5 columns">
		<%= f.text_field :market, placeholder: "World Wide, North America, New York, etc." %>
	</div>
	<div class="large-4 columns">
		<p style="font-size: .8em;">Where are your Customers?</p>
	</div>
</div>

<% if params[:action] == 'new' || params[:action] == 'create' %>
	<%= hidden_field_tag "idea[votes]", 0 %>
<% else #edit or update action %>
	<%= hidden_field_tag "idea[votes]", @idea.votes %>
<% end %>

<br>

<div class="row">
	<div class="large-5 large-centered columns">
		<%= f.submit class: "button" %>
		<% if params[:action] == 'new' || params[:action] == 'create' %>
			<%= link_to "Cancel", @return_to || boards_user_path(current_user), class: "button" %>
		<% else %>
			<%= link_to "Cancel", @return_to || idea_path(@idea), class: "button" %>
		<% end %>
	</div>
</div>
