<div class="row">
	<div class="large-2 columns">
		<%= f.label :title, "Title*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :title, placeholder: "Title" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :cover_photo, "Cover Photo", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<%= f.file_field :image %><br><br>
			<div class="large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-10 columns">
				<%= f.url_field :remote_image_url, placeholder: "Or Image URL" %>
			</div>
			<h6 class="subheader">Choose a photo that represents your Idea. Max image size: 2MB (.jpg, .jpeg, .png, .gif)</h6>
		</div>
	</div>
</div>

<%= f.hidden_field :image_cache %>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :video_url, "Video URL" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<div class="large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-10 columns">
				<%= f.url_field :video_url, placeholder: "Video URL (Youtube or Vimeo)" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :contribution_level, "Your Contribution Level", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<!-- <label for="idea_contribution_level_idea_producer_only">
		<%= f.radio_button :contribution_level, "Idea Producer Only", style: "display: none;" %>
		<span class="custom radio"></span> Idea Producer Only</label>

		<%= f.radio_button :contribution_level, "Idea Producer and Product Designer" %>
		<%= f.label :contribution_level, " Idea Producer and Product Designer",
				value: "idea_producer_and_product_designer" %>

		<label for="idea_contribution_level_founder_of_new_company">
		<%= f.radio_button :contribution_level, "Founder of New Company" %>
		 Founder of New Company</label>

		<label for="idea_contribution_level_radio">
		<%= f.radio_button :contribution_level, nil, id: "idea_contribution_level_radio", 
			style: "display: none;", checked: radio_checked?(f.object.contribution_level) %>
		Other: 
		<%= f.text_field :contribution_level, placeholder: "Please specify" %></label> -->

		<%= f.text_field :contribution_level, 
				placeholder: "Work on Idea Only, Founder of New Company, etc." %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :workspace, "Workspace*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_area :content, class: 'ckeditor', placeholder: "Content", style: "min-height: 500px" %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :board, "Board*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<% if @boards.blank? %>
			<%= text_field_tag :board_name, nil, placeholder: "Board Name" %>
		<% else %>
			<%= f.select :board_id, 
					@boards.map { |board| [board.name, board.id] } %>
		<% end %>
	</div>
</div>

<% if params[:action] == 'new' %>
	<%= hidden_field_tag "idea[votes]", 0 %>
<% else %>
	<%= hidden_field_tag "idea[votes]", @idea.votes %>
<% end %>

<div class="row">
	<div class="large-5 large-centered columns">
		<%= f.submit class: "button" %>
		<% if params[:action] == 'new' %>
			<%= link_to "Cancel", @return_to || boards_user_path(current_user), class: "button" %>
		<% else %>
			<%= link_to "Cancel", @return_to || idea_path(@idea), class: "button" %>
		<% end %>
	</div>
</div>
