<div class="row">
	<div class="large-2 columns">
		<%= f.label :title, class: "left" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :title, placeholder: "Title" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label "Cover Photo", class: "left" %>
	</div>
	<div class="large-9 columns">
		<%= f.file_field :image %><br><br>
		<%= f.text_field :remote_image_url, placeholder: "Or Image URL" %>
		<h6 class="subheader">Choose a photo that represents your Idea. Max image size: 2MB (.jpg, .jpeg, .png, .gif)</h6>
	</div>
</div>

<%= f.hidden_field :image_cache %>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :workspace, class: "left" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_area :content, class: 'ckeditor', placeholder: "Content", style: "min-height: 500px" %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :board, class: "left" %>
	</div>
	<div class="large-9 columns">
		<%= f.select :board_id, 
				@boards.map { |board| [board.name, board.id] } %>
	</div>
</div>

<% if params[:action] == 'new' %>
	<%= hidden_field_tag "idea[votes]", 0 %>
<% else %>
	<%= hidden_field_tag "idea[votes]", @idea.votes %>
<% end %>

<div class="row">
	<div class="large-3 large-centered columns">
		<%= f.submit class: "button" %>
	</div>
</div>
