<% title @idea.title %>

<div class="row idea-header">
	<div class="large-2 columns">
		<%= image_tag @idea.image.small_thumb.url %>
	</div>
	<div class="large-5 columns">
		<h4><%= @idea.title %></h4>
	</div>
	<div class="large-2 columns">
		<h3><%= @idea.votes %> votes</h3>
	</div>
	<div class="large-3 columns">
	</div>
</div>

<div class="row">

	<div class="large-8 columns idea-main">
		<div class="section-container tabs" data-section="tabs">
			<section class="active">
				<p class="title" data-section-title>
					<%= link_to "Description", "#" %>
				</p>
				<div class="content" data-section-content>
					<p><%= raw @idea.content %></p>
				</div>
			</section>
			<% if @idea.video_url.present? %>
				<section>
					<p class="title" data-section-title>
						<%= link_to "Video", "#" %>
					</p>
					<div class="content" data-section-content>
						<p>
							<div class="flex-video <%= @idea.video_type %>">
								<iframe src="<%= @idea.video_url %>" frameborder="0" width="604" height="431" allowfullscreen></iframe>
							</div>
						</p>
					</div>
				</section>
			<% end %>
		</div>
		
		<% if (permit? "ideas", "edit", @idea) && (permit? "ideas", "destroy", @idea) %>
			<div class="panel">
				<span data-no-turbolink>
					<%= link_to "Edit Idea", edit_idea_path(@idea), class: "small button"  %>
				</span>
				<%= link_to "Delete", idea_path(@idea), method: :delete, 
						data: { confirm: "Are you sure?" }, class: "small button" %>
			</div>
		<% end %>
		<% if (permit? "ideas", "vote", @idea) && current_user.not_voted?(@idea) %>
			<div class="panel">
				<%= link_to "Vote", vote_idea_path(@idea), class: "button" %>
			</div>
		<% end %>
		
	</div>

	<div class="large-3 columns idea-side">
		<div class="row idea-user">
			<h4><%= link_to @idea.board.name, user_board_path(@idea.user, @idea.board) %></h4>
		</div>
		<div class="row idea-user">
			<div class="large-4 columns">
				<%= image_tag @idea.user.avatar.profile.url %>
			</div>
			<div class="large-8 columns">
				<h5><%= link_to @idea.user.display_name, boards_user_path(@idea.user) %></h5>
				<!-- <h8>Entrepreneur</h8> -->
			</div>
		</div>

		<div class="row idea-info">
			<% if @idea.commitment.present? %>
				<h5>Commitment</h5>
				<p><%= @idea.commitment %></p>
			<% end %>
			<% if @idea.looking_for.present? %>
				<h5>Looking For</h5>
				<ul>
				<% @idea.looking_for.each do |resource| %>
					<li><%= resource %><br></li>
				<% end %>
				</ul>
			<% end %>
			<% if @idea.market.present? %>
				<h5>Market</h5>
				<p><%= @idea.market %></p>
			<% end %>
		</div>

		<div class="row idea-stats">
			<h9>Stats</h9>
			<hr>
			<div class="large-4 columns">
				<%= @idea.impressionist_count(filter: :ip_address) %><br>views
			</div>
			<div class="large-4 columns">
				<%= @idea.votes %><br>votes
			</div>
			<div class="large-4 columns">
				<%= @all_comments_count %><br>comments
			</div>
		</div>

		<% if @rand_ideas %>
			<div class="row more-ideas">
				<h9>More Ideas</h9>
				<hr>
				<% @rand_ideas.each do |idea| %>
					<div class="large-4 columns">
						<%= link_to (image_tag idea.image.small_thumb.url, class: "side-image"), 
									idea_path(idea) %>
					</div>
				<% end %>
			</div>
		<% end %>

		<div class="row">
			<% if current_user && current_user == @idea.user %>
				<hr>
				<%= link_to "Leave a Comment", "#comments", class:"button" %>
			<% else %>
				<h9>Give Feedback</h9>
				<hr>
				<%= link_to "Leave a Comment", "#comments", class:"button" %>
				<% if (permit? "ideas", "vote", @idea) && current_user.not_voted?(@idea) %>
					<%= link_to "Vote", vote_idea_path(@idea), class:"button" %>
				<% end %>
			<% end %>
		</div>

		<span class='st_email_large' displayText='Email'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_linkedin_large' displayText='LinkedIn'></span>
		<span class='st_pinterest_large' displayText='Pinterest'></span>
		<span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
	</div>
</div>

<a name="comments"></a>
<div class="row">
	<div class="large-8 columns comment-section">

		<div class="comments">
			<%= render partial: 'comments/form', locals: { comment: @new_comment } %>
			<% if @root_comments.empty? %>
				<div class="row empty-comments">
					<div class="large-6 large-centered columns">
						<br>
						<br>
						<h6 class="subheader">There are no comments yet.</h6>
					</div>
				</div>
			<% else %>
				<% @root_comments.each do |root_comment| %>
					<% child_comments = nil %>
					<% if root_comment.has_children? %>
					<%	child_comments = root_comment.children.order('created_at asc') %>
					<% end %>
						<%= render partial: 'comments/comment',  
											locals: { comment: root_comment, 
																child_comments: child_comments, 
																idea_id: @idea.id, 
																reply_comment: @new_comment } %>
				<% end %>
			<% end %>
		</div>
		
	</div>
</div>


