<div class="comment" id="comment-<%= comment.id %>" data-no-turbolink>
	<% if permit? "comments", "destroy", comment %>
		<%= link_to "x", comment_path(comment), method: :delete, remote: true, 
				data: { confirm: "Are you sure you want to delete this comment?"}, 
				class: "right" %>
		<span class="space right">&nbsp;</span>
	<% end %>
	<% if permit? "comments", "edit", comment %>
		<%= link_to "Edit", edit_comment_path(comment), remote: true,
				class: "right edit-comment" %>
	<% end %>

	<%= link_to (image_tag comment.user.avatar.small_profile.url, class: "comment-avatar"),
			boards_user_path(comment.user) %>
	<h6 class="name"><%= link_to comment.user.display_name, boards_user_path(comment.user) %></h6>
	<p class="comment-text"><%= comment.body %></p>

	<% if permit? "comments", "reply" %>
		<%= link_to "Reply", reply_comment_path(idea_id, comment), remote: true, 
						id: "reply-#{comment.id}", class: "reply-link" %>
		<span class="middot">|</span>
	<% end %>
	<span class="time"><%= distance_of_time_in_words_to_now( comment.updated_at ) %></span>

	<span class="reply-form" id="reply-form-<%= comment.id %>" data-no-turbolink>
	</span>