<div class="row">
	<div class="large-2 columns">
		<%= f.label :email, "Email*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.email_field :email, placeholder: "Email" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :password, "Password*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.password_field :password, placeholder: "Password" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :password_confirmation, "Password Confirmation*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
	</div>
</div>

<% if params[:action] == 'edit' %>
	<div class="row">
		<div class="large-2 columns">
			<%= f.label :username, "Username*", class: "left inline" %>
		</div>
		<div class="large-9 columns">
			<div class="row collapse">
				<div class="large-5 columns">
					<span class="prefix"><%= "http://wishture.com/" %></span>
				</div>
				<div class="large-7 columns">
					<%= f.text_field :username, placeholder: "Username" %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :name, "Name", class: "left inline" %>
	</div>
	<div class="large-4 columns">
		<%= f.text_field :firstname, placeholder: "First Name" %>
	</div>
	<div class="large-4 columns">
		<%= f.text_field :lastname, placeholder: "Last Name" %>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :profile_photo, "Profile Photo (Avatar)", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<div class="row collapse">
			<%= f.file_field :avatar %><br><br>
			<div class="large-3 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="large-9 columns">
				<%= f.url_field :remote_avatar_url, placeholder: "Or Image URL" %>
			</div>
			<h6 class="subheader">Choose a photo. Max image size: 2MB (.jpg, .jpeg, .png, .gif)</h6>
		</div>
	</div>
</div>

<%= f.hidden_field :avatar_cache %>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :about, "About You", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_area :about, placeholder: "Tell us about yourself...", style: "min-height: 100px" %>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<%= f.label :location, class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :location, placeholder: "Location" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :website, class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :website, placeholder: "Website" %>
	</div>
</div>

<div class="row">
	<div class="large-8 large-centered columns">
		<%= f.submit class: "button" %>
		<% if params[:action] == 'new' %>
			<%= link_to "Cancel", @return_to || root_url, class: "button" %>
		<% else %>
			<%= link_to "Cancel", @return_to || settings_user_path(current_user), class: "button" %>
		<% end %>
	</div>
</div>
