<% title @user.display_name %>

<%= render 'top' %>

<!-- ##################### BOARDS SECTION ###########################-->

<div class="users-boards">
	<% @boards.each_with_index do |board, index| %>

<!-- 		<% if index % 4 == 0 %>
			<div class="row">
		<% end %> -->
				
					<li id="board-<%= "#{board.id}" %>" class="block">
							<header><%= link_to board.name, [@user, board] %></header>

							<div class="img-container">
								<% if board.ideas.count > 0 %>
									<%= link_to (image_tag board.ideas.first.image.thumb.url), 
										user_board_path(@user, board) %>
									<p class="img-source hidden"><%= board.ideas.first.source %></p>
								<% else %>
									<span class="img-hover">
									<%= image_tag "http://img.kravly.com/No-Idea-Placeholder.png" %>
									</span>
								<% end %>
							</div>

							<div class="block-extra-boards">
								<span class="img-hover"><%= mini_image(board.ideas.second, 
													user_board_path(@user, board)) %></span>
								<span class="img-hover"><%= mini_image(board.ideas.third, 
													user_board_path(@user, board)) %></span>
								<span class="img-hover"><%= mini_image(board.ideas.fourth, 
													user_board_path(@user, board)) %></span>
							</div>

							<div style="clear:both;"></div>
						
					</li>
		
<!-- 		<% if (index+1) % 4 == 0 || (index+1) == @boards.count %>
			</div>
		<% end %> -->

	<% end %>
</div>

<div class="pagination-centered">
	<%= will_paginate @boards, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe,
	class: 'users-boards-paginate pagination' %>
</div>

<!-- ##################### END BOARDS SECTION ###########################-->