<%= render 'top' %>

<% @boards.each_with_index do |board, index| %>
	<% if index % 3 == 0 %>
		<div class="row">
			<ul class="large-block-grid-3">
	<% end %>
			
				<li>
					<h5><%= link_to board.name, [@user, board] %></h5>

					<% if board.ideas.count > 0 %>

						<%= link_to (image_tag board.ideas.first.image.thumb.url), 
								user_board_path(@user, board) %>

						<ul class="large-block-grid-3">
							<li>
								<%= if board.ideas.second
											link_to (image_tag board.ideas.second.image.small_thumb.url), "#"
										else
											image_tag "http://placehold.it/90x60"
										end %>
							</li>
							<li>
								<%= if board.ideas.third
											link_to (image_tag board.ideas.third.image.small_thumb.url), "#"
										else
											image_tag "http://placehold.it/90x60"
										end %>
							</li>
							<li>
								<%= if board.ideas.fourth
											link_to (image_tag board.ideas.fourth.image.small_thumb.url), "#"
										else
											image_tag "http://placehold.it/90x60"
										end %>
							</li>
						</ul>

					<% else %>

						<%= image_tag "http://placehold.it/315x245" %>

					<% end %>

					<% if permit? "boards", "edit", board %>
						<%= link_to "Edit", edit_user_board_path(@user, board), class: "tiny button" %>
					<% end %>
					<% if permit? "boards", "destroy", board %>
						<%= link_to "Delete", user_board_path(@user, board), method: :delete, 
								data: { confirm: "Are you sure?" },	class: "tiny button" %>
					<% end %>

				</li>
	
	<% if (index+1) % 3 == 0 %>
			</ul>
		</div>
	<% end %>
<% end %>

<div style="clear:both;"></div>

<div class="pagination-centered">
	<%= will_paginate @boards, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>