<% title "Change Password" %>

<!-- Change User Password from Settings -->

<header class="users-change_password-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_for @user, url: update_password_user_path(@user), method: :patch,
			html: { class: "users-change_password-form" } do |f| %>
	
	<%= error_messages_for(@user) %>
	
	<ul class="form-section">
		<li class="old_password">
			<%= label_tag :old_password %>
			<%= password_field_tag :old_password, nil, placeholder: "Old Password" %>
		</li>

		<br>

		<li class="new_password">
			<%= f.label :password%>
			<%= f.password_field :password, placeholder: "New Password" %>
		</li>

		<li class="password_confirmation">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, 
						placeholder: "New Password Confirmation" %>
		</li>

		<li class="nav">
			<%= link_to "Cancel", settings_user_path(@user), class: "prev-button button" %>
			<%= submit_tag "Update Password", class: "right button" %>
		</li>
	</ul>
<% end %>