<% title "Change Password" %>

<div class="row">
	<div class="large-5 large-centered columns">
		<%= form_for @user, url: update_password_user_path(@user), method: :patch do |f| %>
			<%= error_messages_for(@user) %>
			
			<fieldset>
				<legend><%= yield(:title) %></legend>

				<div class="row">
					<div class="large-5 columns">
						<%= label_tag :old_password, "Old Password*", class: "left inline" %>
					</div>
					<div class="large-7 columns">
						<%= password_field_tag :old_password, nil, placeholder: "Old Password" %>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="large-5 columns">
						<%= f.label :password, "New Password*", class: "left inline" %>
					</div>
					<div class="large-7 columns">
						<%= f.password_field :password, placeholder: "New Password" %>
					</div>
				</div>

				<div class="row">
					<div class="large-5 columns">
						<%= f.label :password_confirmation, "New Password Confirmation*", 
									class: "left inline" %>
					</div>
					<div class="large-7 columns">
						<%= f.password_field :password_confirmation, placeholder: "New Password Confirmation" %>
					</div>
				</div>

				<div class="row">
					<div class="large-10 large-centered columns">
						<%= f.submit class: "button" %>
						<%= link_to "Cancel", settings_user_path(@user), class: "button" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>