<%= render 'top' %>

<% @ideas.each_with_index do |idea, index| %>
	<% if index % 3 == 0 %>
		<div class="row">
			<ul class="large-block-grid-3">
	<% end %>

				<li>
					<h5><%= link_to idea.title, idea_path(idea) %></h5>
					<%= link_to (image_tag idea.image.thumb.url), idea_path(idea) %><br>

					<% if permit? "ideas", "edit", idea %>
						<span data-no-turbolink>
							<%= link_to "Edit", edit_idea_path(idea), class: "tiny button" %>
						</span>
					<% end %>
					<% if permit? "ideas", "destroy", idea %>
						<%= link_to "Delete", idea_path(idea), method: :delete, 
								data: { confirm: "Are you sure?" }, class: "tiny button" %>
					<% end %>

				</li>

	<% if (index+1) % 3 == 0 %>
			</ul>
		</div>
	<% end %>
<% end %>

<div style="clear:both;"></div>

<div class="pagination-centered">
	<%= will_paginate @ideas, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>