<% title @user.display_name %>

<%= render 'top' %>

<!-- ##################### IDEAS SECTION ###########################-->

<% @ideas.each_with_index do |idea, index| %>
	<% if index % 4 == 0 %>
		<div class="row">
	<% end %>

			<li id="idea-<%= "#{idea.id}" %>" class="square">
				<header><%= link_to idea.title, idea_path(idea) %></header>

				<div class="img-container">
					<%= link_to (image_tag idea.image.thumb.url), idea_path(idea) %><br>
					<p class="img-source hidden"><%= idea.source %></p>
				</div>

				<span class="square-extras">
					<% if permit? "ideas", "edit", idea %>
					<span data-no-turbolink>
						<%= link_to raw("<i class='fi-widget'></i>"), edit_idea_path(idea), 
									class: "edit-link" %>
					</span>
					<% end %>
					<% if permit? "ideas", "destroy", idea %>
					<%= link_to raw("<i class='fi-x'></i>"), idea_path(idea), method: :delete, 
								data: { confirm: "Are you sure?" }, class: "delete-link" %>
					<% end %>
				</span>
			</li>

	<% if (index+1) % 4 == 0 || (index+1) == @ideas.count %>
		</div>
	<% end %>
<% end %>

<div style="clear:both;"></div>

<div class="pagination-centered">
	<%= will_paginate @ideas, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>

<!-- ##################### END IDEAS SECTION ###########################-->