<%= link_to "All Boards", boards_path %>

<% @users.each_with_index do |user, index| %>
	<% if index % 3 == 0 %>
		<div class="row">
			<ul class="large-block-grid-3">
	<% end %>
				<li>
					<div class="block">
						<h5><%= link_to user.username, boards_user_path(user) %></h5>
						<%= image_tag user.avatar.profile.url %>
						Name: <%= user.firstname %> <%= user.lastname %>
						<p>ID: <%= user.id %></p>
					</div>
				</li>
	<% if (index+1) % 3 == 0 %>
			</ul>
		</div>
	<% end %>
<% end %>