<% title @user.display_name %>

<%= render 'top' %>

<!-- ##################### VOTES SECTION ###########################-->

<div class="users-votes">
  <% @user_votes.each_with_index do |user_vote, index| %>

    <li id="idea-<%= "#{user_vote.idea.id}" %>" class="block">
      <header>
        <%= link_to user_vote.idea.title, idea_path(user_vote.idea) %>

        <% if idea.pitch.present? %>
          <p class="pitch"><%= user_vote.idea.pitch %></p>
        <% end %>
      </header>

      <div class="img-container">
        <%= link_to (image_tag user_vote.idea.image.thumb.url), 
        idea_path(user_vote.idea) %>
        <p class="img-source hidden"><%= user_vote.idea.source %></p>
      </div>
    </li>

  <% end %>
</div>

<div class="pagination-centered">
  <%= will_paginate @user_votes, inner_window: 4, outer_window: 2,
  previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe,
  class: 'users-votes-paginate pagination' %>
</div>

<!-- ##################### END VOTES SECTION ###########################-->