<div class="row">
	<div class="large-2 columns">
		<%= f.label :name, "Name*", class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_field :name, placeholder: "Name" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :description, class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.text_area :description, placeholder: "Description" %>
	</div>
</div>

<div class="row">
	<div class="large-2 columns">
		<%= f.label :category, class: "left inline" %>
	</div>
	<div class="large-9 columns">
		<%= f.select :category_id, 
				@categories.map { |category| [category.name, category.id] },
				id: "customDropdown"
				%>
	</div>
</div>

<!-- <div class="row">
	<div class="large-2 columns">
		<%= f.label :private, class: "left inline" %>
	</div>

	<div class="large-3 columns">
		<div class="switch">
			<input type="radio" id="x" name="switch-x" checked>
			<%= label_tag 'x', 'Off' %>

			<input type="radio" id="x1" name="switch-x">
			<%= label_tag 'x1', 'On' %>

			<span></span>
		</div>
	</div>
</div> -->

<%= f.hidden_field :user_id %>

<div class="row">
	<div class="large-7 large-centered columns">
		<%= f.submit class: "button" %>
		<% if params[:action] == 'new' || params[:action] == 'create' %>
			<%= link_to "Cancel", @return_to || boards_user_path(current_user), class: "button" %>
		<% else %>
			<%= link_to "Cancel", @return_to || user_board_path(current_user, @board), 
					class: "button" %>
		<% end %>
	</div>
</div>
