<%= link_to "All Users", users_path %>

<% @boards.each_with_index do |board, index| %>
	<% if index % 3 == 0 %>
		<div class="row">
			<ul class="large-block-grid-3">
	<% end %>
				<li>
					<div class="block">
						<h5><%= link_to board.name, user_board_path(board.user, board) %></h5>
						<p>Username: <%= board.user.username %></p>
						Name: <%= board.user.firstname %> <%= board.user.lastname %>
						<p>ID: <%= board.id %></p>
					</div>
				</li>
	<% if (index+1) % 3 == 0 %>
			</ul>
		</div>
	<% end %>
<% end %>