<% title "Add A Board" %>

<div class="board-new-page">

<header class="board-new-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_for [@board.user, @board], html: { class: "board-new-form" } do |f| %>
	<%= error_messages_for(@board) %>
	
	<ul class="form-section">
		<li class="name">
			<%= f.label :name, "Name*", class: "left inline" %>
			<%= f.text_field :name, placeholder: "Name".upcase %>
		</li>

		<li class="description">
			<%= f.label :description, class: "left inline" %>
			<%= f.text_area :description, 
					placeholder: "A quick description of your board".upcase %>
		</li>

		<li class="category">
			<%= f.label :category, class: "left inline" %>
			<%= f.select :category_id, 
					@categories.map { |category| [category.name, category.id] }
					%>
		</li>

		<%= f.hidden_field :user_id %>

		<li class="nav">
			<%= link_to "Cancel", @return_to || boards_user_path(current_user), 
						class: "prev-button button" %>
			<%= f.submit class: "right button" %>
		</li>
	</ul>

	<div class="sidebar">
		<h3>Tips:</h3>
		<ul>
			<li>Boards are 'groups' which you put your Ideas into.</li>
			<li>Use them as your own folder to seperate out different Ideas.</li>
		</ul>
	</div>

<% end %>

<!-- <div class="row">
	<div class="large-7 large-centered columns">
		<%= form_for [@board.user, @board] do |f| %>
			<%= error_messages_for(@board) %>
			
			<fieldset>
				<legend><%= yield(:title) %></legend>

			</fieldset>
		<% end %>
	</div>
</div> -->

</div>