<% @ideas.each_with_index do |idea, index| %>
	<% if index % 4 == 0 %>
		<div class="row main-ideas">
			<ul class="large-block-grid-4">
	<% end %>

				<li>
					<div class="block">
						
						<div class="img-container">
							<%= link_to (image_tag idea.image.thumb.url), idea_path(idea) %>
							<p class="img-source hidden"><%= idea.source %></p>
						</div>
						<div class="idea-bottom">
							<h5 class="idea-title"><%= link_to idea.title, idea_path(idea) %></h5>
							<div class="vote"><%= idea.votes %></div>
							<%= link_to (image_tag idea.user.avatar.profile.url),
										boards_user_path(idea.user) %>
							<div class="name"><%= link_to idea.user.display_name, 
																			boards_user_path(idea.user) %></div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</li>

	<% if (index+1) % 4 == 0 || (index+1) == @ideas.count %>
			</ul>
		</div>
	<% end %>
<% end %>