<div class="basics-top">
	<h2>Kravly Basics</h2>
	<h4>A few key concepts to get you started.</h4>
</div>

<div class="basics-main">
	<div class="row">
		<div class="large-7 columns">
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/idea-cover.png" %>
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/idea-screenshot.png" %>
		</div>
		<div class="large-5 columns">
			<h4>What's an Idea?</h4>
			<p>
				Ideas are where you post about your thoughts for a new product/service.  You can use it just to share your ideas or as a discussion platform for an existing business.  Find co-partners, funding opportunities or have other entreprenuers (or work with them to) build your dream product.
			</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="large-5 columns">
			<h4>Vote for your favorite Ideas</h4>
			<p>
				Cast a vote for the Ideas that seem interesting to you and help others to find the best Ideas.  The best Ideas will be shown on the main page.  The more votes you have lead to more views and feedback for your ideas.
			</p>
		</div>
		<div class="large-6 columns">
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/main-vote.png" %>
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/idea-vote.png" %>
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/idea-vote-action.png" %>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="large-7 columns">
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/comments.png" %>
		</div>
		<div class="large-5 columns">
			<h4>Discuss Ideas with Comments</h4>
			<p>
				Share your thoughts on other Ideas by writing Comments.  This helps other users learn what can be improved or just share your enthusiam with the idea.  Offer help or advice when you can, or even offer to join the team if they are looking for more team members.
			</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="large-5 columns">
			<h4>Collect Ideas on Boards</h4>
			<p>
				Boards are where you organize your Ideas by grouping similar ones together.  Set up group boards to share ideas and plan new businesses with your friends or co-founders.  Or use it to quickly show off your many Ideas and have your friends see your creative side.
			</p>
		</div>
		<div class="large-7 columns">
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/board.png" %>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="large-12 columns guide">
			<h3>
			<% if current_user %>
				<%= link_to "Click Here", new_user_board_path(current_user) %> to add a Board to get started!
			<% else %>
				<%= link_to "Login", login_path %> or <%= link_to "Create an Account", new_user_path %> to get started!
			<% end %>
			</h3>
			<br>
			<br>
			<br>
			<br>
			<br>
			<p>OR</p>
			<h3>Use our <%= link_to "Starter Guide", intro_path %> for more Step-by-Step Help</h3>
			<%= image_tag "https://s3.amazonaws.com/wishproto/basics/starter-guide.png" %>
		</div>
	</div>

</div>