<% unless current_user %>
<!-- 	<section class="banner">
		<div class="banner-overlay">
			<div class="row intro-note">
				<div class="large-9 large-centered columns">
					<h1 class="title">Welcome to kravly!</h1>
					<h4 class="subtitle">Post your business ideas and 
						get feedback from members.<br>
						 Share your portfolio of ideas with your friends.</h3>
					<%= link_to "GET STARTED NOW", new_user_path, class: "small button get-started-button" %><br>
					<%= link_to "How does it work?", basics_path, class: "guide-link" %>
				</div>
			</div>
		</div>
	</section> -->
<% end %>

<div class="row filter">
	<div class="large-2 large-centered columns">
		<ul class="inline-list">
			<li><%= link_to "Popular", discover_path %></li>
			<li><%= link_to "Recent", discover_path(recent: true) %></li>
		</ul>
	</div>
</div>

<div id="ideas">
	<%= render 'ideas' %>
</div>

<div style="clear:both;"></div>

<div class="pagination-centered">
	<%= will_paginate @ideas, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>