<% page %>

<!-- ##################### BANNER SECTION ###########################-->

<% unless current_user %>

<section class="discover-banner">
	<h1>Discover New Ideas</h1>
	<p>Vote for New Ideas, Collaborate, or 
		<%= link_to "Create your own.", new_user_path %>
	</p>
</section>

<% end %>

<!-- ##################### END BANNER SECTION ###########################-->

<!-- ##################### IDEAS SECTION ###########################-->

<div class="discover-ideas"> <!-- Needed for endless scrolling -->
	<% @ideas.each_with_index do |idea, index| %>

		<li class="discover-block">
			
			<div class="category">
				<%= idea.board.category.name if idea.board.category %>
			</div>

			<header><%= link_to idea.title, idea_path(idea) %></header>

			<% if Rails.env == "development" %>
<!-- 			<p class="pitch">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo beatae cum totam illum placeat debitis impedit rem dolorum veniam laboriosam.
			</p> -->
			<% end %>

			<div class="img-container">
				<%= link_to (image_tag idea.image.thumb.url), idea_path(idea) %>
				<p class="img-source hidden"><%= idea.source %></p>
			</div>

			<div class="discover-block-extras">
				<div class="user-section">
					<%= link_to (image_tag idea.user.avatar.small_profile.url),
								boards_user_path(idea.user) %>
					<%= link_to idea.user.display_name, 
						boards_user_path(idea.user), class: "user-name" %>
				</div>
				
				<div class="vote-section">

					<% if (permit? "ideas", "vote", idea) %>

						<% if current_user.not_voted?(idea) %>
							<%= link_to raw("Vote <i class='fi-like like-symbol'></i>"), 
									vote_idea_path(idea), class: "like-button" %>

						<% else %>
							<%= link_to raw("Vote <i class='fi-like like-symbol'></i>"), 
									vote_idea_path(idea), class: "like-button button disabled" %>
						<% end %>

					<% else %>
						<i class='fi-like like-novote'></i>
					<% end %>

					<span class="vote"><%= idea.votes %></span>
				</div>
			</div>

		</li>

	<% end %>
</div>

<div class="pagination-centered paginate">
	<%= will_paginate @ideas, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>

<!-- ##################### END IDEAS SECTION ###########################-->