<!-- <div class="row">
	<div class="large-10 large-centered columns">
		<div class="panel">
			<h6 style="text-align: center;">kravly - a community where people work together to create products/services. Read more <%= link_to "here", about_path %></h6>
		</div>
	</div>
</div> -->

<% unless current_user %>
	<section class="banner">
		<div class="row intro-note">
			<div class="large-8 large-centered columns">
				<h1 class="title">Welcome to kravly!</h1>
				<h3 class="subtitle">The community where people work together to create new products or services.</h3>
				<%= link_to "GET STARTED NOW", new_user_path, class: "small button" %><br>
				<%= link_to "How does it work?", intro_path, class: "guide-link" %>
			</div>
		</div>
		<hr>
	</section>
<% end %>

<% if @ideas.empty? %>
	<div id="blank-spacer">&nbsp;</div>
<% end %>

<% @ideas.each_with_index do |idea, index| %>
	<% if index % 4 == 0 %>
		<div class="row main-ideas">
			<ul class="large-block-grid-4">
	<% end %>

				<li>
					<div class="block">
						
						<div class="img-container">
							<%= link_to (image_tag idea.image.thumb.url), idea_path(idea) %>
							<p class="img-source hidden"><%= idea.source %></p>
						</div>
						<div class="idea-bottom">
							<h6><%= link_to idea.title, idea_path(idea) %></h6>
							<div class="vote"><%= idea.votes %></div>
							<%= link_to (image_tag idea.user.avatar.profile.url),
										boards_user_path(idea.user) %>
							<div class="name"><%= link_to idea.user.display_name, 
																			boards_user_path(idea.user) %></div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</li>

	<% if (index+1) % 4 == 0 || (index+1) == @ideas.count %>
			</ul>
		</div>
	<% end %>
<% end %>

<div style="clear:both;"></div>

<div class="pagination-centered">
	<%= will_paginate @ideas, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>