<header>
	<div class="row">
		<div class="large-3 columns">
			<h1 class="logo">Kravly</h1>
		</div>
		<div class="large-5 columns nav">
			<%= link_to "Discover", discover_path %>
			<%= link_to "Basics", basics_path %>
			<%= link_to "Log In", login_path, class: "login-link" %>
		</div>
	</div>
</header>

<section class="home-main">
	<div class="row">
		<div class="large-7 large-centered columns">
			<h2>
				Share your business ideas.<br>
				Get feedback.<br>
				Help influence new ideas.
			</h2>
			
		</div>
	</div>

	<div class="row login-form">
		<div class="large-6 large-centered columns">
			<div class="panel">
				<p>Get Started Now by Creating an Account:</p>

				<%= form_for @user do |f| %>
					<%= error_messages_for(@user) %>

					<div class="row">
						<div class="large-2 columns">
							<%= f.label :email, "Email", class: "left inline" %>
						</div>
						<div class="large-9 columns">
							<%= f.email_field :email, placeholder: "Email" %>
						</div>
					</div>

					<div class="row">
						<div class="large-2 columns">
							<%= f.label :password, "Password", class: "left inline" %>
						</div>
						<div class="large-9 columns">
							<%= f.password_field :password, placeholder: "Password" %>
						</div>
					</div>

					<%= f.hidden_field :display, value: 2 %>

					<p class="disclaimer">By creating an account, you agree to our <%= link_to "terms of use", terms_path %>.</p>

					<div class="row button-row">
						<div class="large-8 large-centered columns">
							<%= submit_tag "Create Your New Account", class: "new-account-button" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row lower">
		<div class="large-7 large-centered columns">
			<p>or</p>
			
			<%= link_to "Discover New Ideas", discover_path, class: "button" %>

			<p>Already have an account?  <%= link_to "Log In", login_path, class: "login-link" %></p>
		</div>
	</div>
</section>