<div class="row intro">
	<div class="large-12 columns">
		<p>Please <%= link_to "create an account", new_user_path %> first if you haven't already done so.</p>

		<h2>Set Up a New Idea in a Few Easy Steps</h2>
		<hr>

		<div class="section">
			<h3>1. Add A Board</h3>
			<h6 class="subheader">Think of this as a folder to group your ideas</h6>
			<h4>Click Add -> Board</h4>
		</div>
		<%= image_tag "https://s3.amazonaws.com/wishproto/intro/add-board.png", class: "board" %>
		<hr>

		<div class="section">
			<h3>2. Add An Idea</h3>
			<h4>Click Add -> Idea</h4>
		</div>
		<%= image_tag "https://s3.amazonaws.com/wishproto/intro/add-idea.png", class: "idea" %>
		
		<div class="sub-section">
			<h4>- Add a Descriptive Title</h4>
			<%= image_tag "https://s3.amazonaws.com/wishproto/intro/add-a-new-idea.png", class: "center" %>

			<h4>- Add a Cover Photo that will draw attention to your idea</h4>
			<div class="center">
				<%= image_tag "https://s3.amazonaws.com/wishproto/intro/funnel-for-breville.png" %>
				<%= image_tag "https://s3.amazonaws.com/wishproto/intro/cover-photo.png" %>
			</div>

			<h4>- Add a Video</h4>
			<h5>YouTube:</h5>
			<%= image_tag "https://s3.amazonaws.com/wishproto/intro/youtube-embed-code.png", class: "center" %>
			<%= image_tag "https://s3.amazonaws.com/wishproto/intro/video-url.png", class: "center" %>

			<h4>- State your Contribution Level</h4>
			<h6 class="subheader">This is your level of commitment to the idea being developed.</h6>
			<%= image_tag "https://s3.amazonaws.com/wishproto/intro/your-contribution-level.png", class: "center" %>

			<h4>- Go Crazy with your Workspace</h4>
			<h5>Add Pictures</h5>
			<h5>Show diagrams or "back of a napkin" drawings</h5>
			<h5>Add Videos</h5>
			<h5>Make it interesting!</h5>
			<%= image_tag "https://s3.amazonaws.com/wishproto/intro/workspace.png", class: "center" %>

			<h4>- Finish off by adding it to a Board</h4>
			<%= image_tag "https://s3.amazonaws.com/wishproto/intro/add-to-a-board.png", class: "center" %>
		</div>

		<h4 class="center">That's it!  Others will now chime in with their thoughts and you're on your way to having a new product being built!</h4>
		<%= image_tag "https://s3.amazonaws.com/wishproto/intro/finished-idea.png", class: "center" %>

		<h4 class="center callout">Now go add more ideas or comment/vote on other interesting ideas.</h4>
		<p class="center"><%= link_to "Home Page", root_url %></p>
	</div>
</div>