<%= render 'layouts/head' %>

    <div class="wrapper">

  <!-- ##################### HEADER SECTION ###########################-->

    <header class="main-header">

      <!-- *********** LOGO ******************* -->
      <h1>
        <% if current_user %>
            <%= link_to "Kravly", discover_path %>
          <% else %>
            <%= link_to "Kravly", root_url %>
          <% end %>
      </h1>
      <!-- *********** END LOGO ******************* -->

      <!-- *********** NAV BAR ******************* -->
      <nav>
        <ul class="nav-list">

          <!-- ............... Left Links ............... -->
          <span class="left">

            <!-- MENU -->
            <li class="list-item">
              <a href="#">Menu</a>
              <ul class="submenu">
                <li class="submenu-item"><%= link_to "Popular", discover_path %></li>
                <li class="submenu-item"><%= link_to "Recent", discover_path( recent: true ) %></li>
<!--                 <% @categories.each_with_index do |category, index| %>
                  <li class="list-item"><%= link_to category.name, 
                            category_index_path(category.slug) %></li>
                  <% if index == 11 || index == 25 %>
                  <% end %>
                <% end %> -->
              </ul>
            </li>

            <!-- SEARCH -->
            <li class="list-item">
              <%= form_tag ideas_path, method: :get do %>
                <%= search_field_tag :query, params[:query], placeholder: "Search" %>
                <%= button_tag "Search" %>
                <div class="clear-float"></div>
              <% end %>
            </li>

            <li class="list-item"><%= link_to "Discover", discover_path %></li>
            <li class="list-item"><%= link_to "Basics", basics_path %></li>

          </span>
          <!-- ............... End Left Links ............... -->

          <!-- ............... Right Links ............... -->
          <span class="right">

            <% if current_user %> <!-- LOGGED IN -->

              <!-- ADD BUTTON -->
              <li class="list-item">
                <%= link_to "Add", new_idea_path, data: { "no-turbolink" => true } %>
                <ul class="submenu">
                  <li class="submenu-item">
                    <%= link_to "Board", new_user_board_path(current_user) %></li>
                  <li class="submenu-item">
                    <%= link_to "Idea", new_idea_path, data: { "no-turbolink" => true } %></li>
                </ul>
              </li>

              <span class="seperator">|</span>
              
              <!-- USER -->
              <li class="list-item user">
                <%= link_to current_user.display_name, 
                      boards_user_path(current_user) %>
                <ul class="submenu">
                  <li class="submenu-item">
                    <%= link_to "Your Boards", boards_user_path(current_user) %></li>
                  <li class="submenu-item">
                    <%= link_to "Your Ideas", ideas_user_path(current_user) %></li>
                  <li class="submenu-item">
                    <%= link_to "Your Votes", votes_user_path(current_user) %></li>
                  <li class="submenu-item">
                    <%= link_to "Settings", settings_user_path(current_user) %></li>
                  <% if permit? "categories", "index" %>
                  <li class="submenu-item">
                    <%= link_to "All Categories", categories_path %></li>
                  <% end %>
                  <li class="submenu-item">
                    <%= link_to "Log Out", logout_path %></li>
                </ul>
              </li>

            <% else %> <!-- NOT LOGGED IN -->

              <li class="list-item"><%= link_to "Login", login_path %></li>

              <span class="seperator">|</span>

              <li class="list-item signup"><%= link_to "Sign Up", new_user_path %></li>

            <% end %>


          </span>
          <!-- ............... End Right Links ............... -->

        </ul> <!-- end nav-list -->
      </nav>
      <!-- *********** END NAV BAR ******************* -->

    </header>

    <div class="clear-header"></div>

  <!-- ##################### END HEADER SECTION ###########################-->

    <div class="<%= content_for?(:page) ? yield(:page) : "page-wrapper" %>">
      <%= render 'shared/flash_alert' %>
      <%= yield %>
    </div>

    <div class="push"></div>
    </div>

<%= render 'layouts/footer' %>