<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>
      <%= content_for?(:title) ? yield(:title) + " - kravly" : "kravly" %>
    </title>

  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  	<!-- <div id="topnav">
      <div class="row">
        <div id="logo" class="large-4 large-centered columns">
          <h3><%= link_to "kravly", root_url %></h3>
        </div>
      </div>
    </div> -->

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><%= link_to "kravly", root_url %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
<!--           <li class="divider"></li>
          <li class="has-dropdown"><%= link_to "Categories", "#" %>
            <ul class="dropdown">
              <li><%= link_to "Camping" %></li>
              <li><%= link_to "Fashion" %></li>
            </ul>
          </li> -->
          <li class="divider"></li>
          <li class="has-form">
            <%= form_tag ideas_path, method: :get do %>
              <div class="row collaspse">
                <div class="large-8 columns">
                  <%= search_field_tag :query, params[:query], placeholder: "Search" %>
                </div>
                <div class="large-4 columns">
                  <%= submit_tag "Search", class: "button postfix" %>
                </div>
              </div>
            <% end %>
          </li>
        </ul>
        
        <% if current_user %>
          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown" data-no-turbolink><%= link_to "Add", new_idea_path %>
              <ul class="dropdown">
                <li><%= link_to "Board", new_user_board_path(current_user) %></li>
                <li data-no-turbolink><%= link_to "Idea", new_idea_path %></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><%= link_to current_user.fullname, 
                                            boards_user_path(current_user) %>
              <ul class="dropdown">
                <li><%= link_to "Your Boards", boards_user_path(current_user) %></li>
                <li><%= link_to "Your Ideas", ideas_user_path(current_user) %></li>
                <li><%= link_to "Settings", settings_user_path(current_user) %></li>
                <li><%= link_to "Log Out", logout_path %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="right">
            <li class="divider"></li>
            <li class="active"><%= link_to "Login", login_path %></li>
            <li class="divider"></li>
            <li><%= link_to "New User?", new_user_path %></li>
          </ul>
        <% end %>
      </section>
    </nav>

    <% if flash[:notice] %>
      <div class="row">
        <div data-alert class="alert-box success">
          <%= flash[:notice] %>
          <%= link_to (raw "&times;"), "#", class: "close" %>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="row">
        <div data-alert class="alert-box alert">
          <%= flash[:alert] %>
          <%= link_to (raw "&times;"), "#", class: "close" %>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <div class="footer-clear"></div>

<!--     <footer>
      <h6 class="subheader">
        <%= link_to "About Us", about_path %> | kravly.com &copy; Star Cache, LLC
      </h6>
    </footer> -->

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
