<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

    <meta name="description" content="A community for sharing your business ideas. Find your inspiration or discover interesting product ideas. Find cofounders or investors as well." />
    <meta name="keywords" content="business ideas, business opportunities, entrepreneur ideas, entreprenuer opportunities, business inspiration, inspirational ideas, find a cofounder, business to start, business trends, product ideas" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>
      <%= content_for?(:title) ? yield(:title) + " - kravly | Share Business Ideas" : "Share Business Ideas, Find Cofounders, Discover Products | kravly" %>
    </title>

  	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="home">
      <%= yield %>
    </div>

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100670206); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100670206ns.gif" /></p></noscript>

  </body>
</html>
